<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button  menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tareas Programadas</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <section>
    
    <ion-button color="secondary" (click)="produccion()">Producción</ion-button>
    <ion-button  color="secondary" (click)=" mantenimiento()" >Mantenimiento</ion-button>
    
  </section>
  
  
  <ion-card>
    <ion-list>
      <ion-list-header>Listado de pendientes</ion-list-header>
      
      
     
      
      <ion-item>
        <ion-avatar slot="end">
          
        </ion-avatar>
        <ion-label>
          <h3>Poner cerca eléctrica</h3>
          <p>Cambiar la cerca eléctrica desde el rio hasta la salacuna</p>
          <p>22/05/2022</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="end">
          
        </ion-avatar>
        <ion-label>
          <h3>Aseo de bodega</h3>
          <p>Realizar aseo general a la bodega de la finca</p>
          <p>28/05/2022</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="end">
          
        </ion-avatar>
        <ion-label>
          <h3>Aseo de animales</h3>
          <p>Realizar aseo general a los animalesa</p>
          <p>28/05/2022</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <br>

    <ion-button color="secondary">Registrar cambios</ion-button>
  </ion-card> 
  

</ion-content>