<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button  menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>EL ESTABLO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <canvas id="chart-dashboard" width="250" height="150"></canvas>

  </ion-card>
  <ion-card>
    <ion-list>
      <ion-list-header>Tareas programadas</ion-list-header>
      
      
     
      
      <ion-item>
        <ion-avatar slot="end">
          
        </ion-avatar>
        <ion-label>
          <h3>Poner cerca eléctrica - Felipe Gonzales</h3>
          <p>Cambiar la cerca eléctrica desde el rio hasta la salacuna</p>
          <p>22/05/2022</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="end">
          
        </ion-avatar>
        <ion-label>
          <h3>Vacunación - Ana Valbuena</h3>
          <p>Vacunar vacas</p>
          <p>28/05/2022</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="end">
          
        </ion-avatar>
        <ion-label>
          <h3>Aseo de animales - Martha Solano</h3>
          <p>Realizar aseo general a los animalesa</p>
          <p>28/05/2022</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
