<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button  menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reporte medico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Seleccionar Vaca</ion-label>
      <ion-select >
        <ion-select-option value="bacon">Estrella</ion-select-option>
        <ion-select-option value="olives">Pinpinela </ion-select-option>
        <ion-select-option value="xcheese">Paloma</ion-select-option>
        <ion-select-option value="peppers">Sara </ion-select-option>
        <ion-select-option value="mushrooms">Margarita</ion-select-option>
        <ion-select-option value="onions">Pimienta</ion-select-option>
       
      </ion-select>
      </ion-item>



      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea 	auto-grow="true"></ion-textarea>
      </ion-item>

    </ion-list>
    <br>
    <br>
    <ion-button expand="block" color="secondary">Guardar</ion-button>
  </ion-card>
  

</ion-content>