<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="dashboard">Dashboard</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle>
        <ion-item routerLink="asignar-tareas">Asignar tareas</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle>
        <ion-item  routerLink="informes">Informes</ion-item> 
      </ion-menu-toggle>

      
      <ion-menu-toggle>
        <ion-item routerLink="pesonal" >Personal</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle>
        <ion-item  routerLink="tareas-veterinario">Veterinario</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item  routerLink="tarea-operario">Operario</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="login">Salir</ion-item>
      </ion-menu-toggle>
     
      
    </ion-list>
  </ion-content>
</ion-menu>